* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(wallpaper.jpg);
    background-size: 100%;
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 55%);
    box-shadow: 0 2px 3px rgb(0 0 0 / 55%);
    border: 1px solid rgba(0,0,0,0.4);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 380px;
    margin-bottom: 100px;
    padding: 2%;
}

h1 {
    margin-bottom: 30px;
}

.web{
   width: 10%;
}

.instagram{
    width: 10%;
}

.twitter{
    width: 10%;
 }

 .ranking{
    width: 10%;
 }

 .inicio{
    width: 10%;
 }